<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Klienci</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="ciało2">
<header class="nagłówek">
    <h1 > <a href="/" th:href="@{/aplikacja1(idpr=${pracownik.idPracownik})}"><img class="logo2" src="Logo.png"  style = "float:left"  ></a> </h1>
    <ol >
        <li >
            <img accesskey="0"  th:text="${pracownik.login}" th:if="${pracownik.osoba.płeć} == 'Męzczyzna'" class="obraz" src="male.png">
            <img accesskey="0" th:text="${pracownik.login}" th:if="${pracownik.osoba.płeć} == 'Kobieta'" class="obraz" src="woman.png">



            <ul >
                <li >Stanowisko: <p th:text="${pracownik.stanowisko}"></p></li>
                <li><a accesskey=")" href="/" th:href="@{/wylogowanie(idpr=${pracownik.idPracownik})}" >Wyloguj się</a></li>
            </ul>
        </li>
    </ol>
    <br><br><br><br>
</header>
<table>
<tr >
    <td style="background:green">
    <a accesskey="1"  href="/klienci" th:href="@{/dodajkl(idpr=${pracownik.idPracownik})}" >

        <i  ></i><strong> Dodaj </strong></a></td>
    <td style="background:red">
    <form  action="/klienci" th:action="@{/wyszukajkl(idpr=${pracownik.idPracownik})}"method="post" >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <label class="label1"><strong>Znajdź po peselu:</strong></label>
        <p class="punkt"></p>
        <input accesskey="2"  title="Wpisz pesel" class="wybor1"  type="text"  name="pesel" pattern="\d{11}"   maxlength="11"  placeholder="00000000000" required>
        <p class="punkt"></p>
        <strong>
    <input accesskey="3" type="submit" class="wybor" value="Wyszukaj" />
        </strong>
    </form>
    </td>

</tr>
</table>
<br><br>
<p align="center"> <h2 style="font-size:200%">Lista klientów</h2></p> <br>
<table >
    <tr><th>Id</th> <th>Imię</th><th>Nazwisko</th><th>Płeć</th><th>E-mail</th><th>Numer telefonu<th>Miejscowość</th><th>Ulica<th>Nr domu</th><th>Nr mieszkania</th><th>Kod pocztowy</th><th>Kraj</th><th>Data urodzenia</th><th>Id rezerwacji</th></tr>
    <tr  th:each="klient: ${klienci}">
        <td th:text="${klient.idKlient}"></td>
        <td th:text="${klient.osoba.imię}"></td>
        <td th:text="${klient.osoba.nazwisko}"></td>
        <td th:text="${klient.osoba.płeć}"></td>
        <td th:text="${klient.osoba.e_mail}"></td>
        <td th:text="${klient.osoba.nr_telefonu}"></td>
        <td th:text="${klient.osoba.adres.miejscowość}"></td>
        <td th:text="${klient.osoba.adres.ulica}"></td>
        <td th:text="${klient.osoba.adres.nr_domu}"></td>
        <td th:text="${klient.osoba.adres.nr_mieszkania}"></td>
        <td th:text="${klient.osoba.adres.kod_pocztowy}"></td>
        <td th:text="${klient.osoba.adres.kraj}"></td>
        <td th:text="${klient.osoba.data_urodzenia}"></td>
        <td th:text=${klient.rezerwacje}></td>
        <td style="background:red">
            <a  href="/klienci" th:href="@{/kasujkl(idpr=${pracownik.idPracownik},idk  = ${klient.idKlient})}" >

                <i  ></i><strong> Kasuj </strong></a></td>

        <td style="background:green" >
            <a  href="/klienci" th:href="@{/aktualizujkl(idpr=${pracownik.idPracownik}, idk = ${klient.idKlient})}" >

                <i ></i><strong>Aktualizuj</strong></a></td>
        <td style="background:orange" >
            <a  href="/klienci" th:href="@{/dodajrezerwacjekl(idpr=${pracownik.idPracownik}, idk = ${klient.idKlient})}" >

                <i ></i><strong>Dodaj rezerwacje</strong></a></td>

    </tr>
</table>

</body>
</html>