<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Aktualizuj Rezerwację</title>
  <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="ciało">
<header class="nagłówek">
  <h1 > <a href="/" th:href="@{/aplikacja1(idpr=${pracownik.idPracownik})}"><img class="logo1" src="Logo.png"  style = "float:left"  ></a> </h1>
  <ol>
    <li>
      <img accesskey="0"  th:text="${pracownik.login}" th:if="${pracownik.osoba.płeć} == 'Męzczyzna'" class="obraz" src="male.png">
      <img accesskey="0" th:text="${pracownik.login}" th:if="${pracownik.osoba.płeć} == 'Kobieta'" class="obraz" src="woman.png">



      <ul>
        <li>Stanowisko: <p th:text="${pracownik.stanowisko}"></p></li>
        <li><a accesskey=")" href="/" th:href="@{/wylogowanie(idpr=${pracownik.idPracownik})}" >Wyloguj się</a></li>
      </ul>
    </li>
  </ol>
  <br><br><br><br>
</header>

<form  action="aktualizujrezerwacje" th:action="@{/aktrezerwacja(idr = ${rezerwacja.idRezerwacja},idpr = ${pracownik.idPracownik})}" method="post">
  <br>

  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <h2 class="formularz_zamówienia">Podaj termin
    <br>

    <label class="label1">Od:</label>
    <p class="punkt"></p>
    <input accesskey="1"  title="Wpisz termin początkowy"  class="wybor"  type="date"  name="od"pattern="\d{4}-\d{2}-\d{2}" maxlength="10" placeholder="0000-00-00" required  >
    <p class="punkt"></p>
    <input accesskey="2"  title="Wpisz termin początkowy"  class="wybor"  type="time"  name="od_time"pattern="\d{2}:\d{2}" maxlength="10" placeholder="00:00" required >
    <p class="punkt"></p>
    <label class="label1">Do:</label>
    <p class="punkt"></p>
    <input accesskey="3"  title="Wpisz termin końcowy"  class="wybor"  type="date"  name="doo"pattern="\d{4}-\d{2}-\d{2}" maxlength="10" placeholder="0000-00-00" required >
    <p class="punkt"></p>
    <input accesskey="4"  title="Wpisz termin początkowy"  class="wybor"  type="time"  name="doo_time"pattern="\d{2}:\d{2}" maxlength="10" placeholder="00:00"  required>
    <p class="punkt"></p>
    <input accesskey="-" type="submit" class="wybor" value="Aktualizuj" />
    <input type="reset" value="reset">
  </h2>
</form>

</body>
</html>