<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotelator</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="ciało">
<header class="nagłówek">
    <h1 ><img class="logo" src="Logo.png"  style = "float:left"  ></h1>

</header>

<form  action="/logowanie" th:action="@{/aplikacja(licznik_prób=${licznik_prób})}"method="post" >
    <br><br><br><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<p style="text-align:center">Nie zalogowałeś się</p>
    <br><br>
    <h2 class="formularz_zamówienia">Zaloguj się

        <p class="punkt"></p>
        <label class="label1">Login:</label>
        <p class="punkt"></p>
        <input title="Wpisz login" accesskey="1" class="wybor"  type="text"  name="login" pattern="[A-Za-z0-9]+" maxlength="20" required>
        <p class="punkt"></p>
        <label class="label1">Hasło:</label>
        <p class="punkt"></p>
        <input title="Wpisz hasło" accesskey="2" class="wybor"   type="password"  name="hasło" maxlength="20" required>
        <p class="punkt"></p>
        <input accesskey="-" type="submit" class="wybor" value="Zaloguj" />
    </h2>
</form>
</body>
</html>